a {
	text-decoration:none;
}

a:hover {
	text-decoration:none;
}

body {
	background-color: #dfdac6;
	min-height: 400px;
	width: 100%;
}

div.footer hr {
	border-top: 1px solid #b81d30;
}

div.footer label {
	font-weight: normal;
}

div.header {
	background: black;
	display: static;
	left: 0px;
	right: 0px;
	top: 0px;
	width: 100%;
}

div.logo-container {
	margin-left: 6%;
	padding: 5px;
}

div.logo-container img {
	margin: 10px;
}

div.logo-container label {
	color: #ffffff;
	font-family: Courier;
	font-size: 40px;
	font-weight: lighter;
	vertical-align: middle;
}

ul {
	list-style:none;
	padding-left:0;
}

ul.supp-links a {
	margin-left: 4px;
	margin-right: 4px;
}

ul.supp-links li {
	display: inline-block;
}
